---
name: Render README

on:
  push:
    paths:
      - README.md

jobs:
  render:
    name: Render README
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Render README
        run: tools/render-readme.sh
      - name: Commit results
        run: |
          git commit README.md -m 'Render README.md' || echo "No changes to commit"
          git push origin || echo "No changes to commit"
